@tailwind base;

@tailwind components;

@tailwind utilities;

/* TestimonialCarousel.js */
.quote-mark::before {
  /* content: open-quote; */
  font-family: Georgia, serif;
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: 15px;
  color: #7a7a7a88;
}

.quote-mark {
  font-family: Georgia, serif;
  color: #7a7a7ae5;
}

.swiper-slide-next {
  font-weight: 500;
  color: #535353;
}

