#service-section {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  // display: flex;

  .inner-container {
    max-width: 900px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;

    .left {
      background-color: rgb(206, 143, 101);
      padding: 0 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .right {
      background-color: bisque;
      flex-grow: 2;
    }

    .tab p {
      font-weight: 700;
      font-size: 1rem;
    }

    .active p {
      color: purple;
    }
  }
}
