#testimonial-section {
  background-color: #f6f6f6;

  .container {
    display: flex;
  }
}
.quote-mark::before {
  font-family: Georgia, serif;
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: 10px;
  color: #7a7a7a88;
}
.quote-mark {
  padding: 60px 30px;
}
.quote-mark > a {
  font-family: Georgia, serif;
  color: #7a7a7ae5;
}
.swiper-slide-next {
  font-weight: 500;
  color: #535353;
}

.section-background {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 900px) {
  .section-background {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.testimony--text {
  padding: 5rem 4rem;
}
