#experience-section {
  // background-image: url(../images/bg_bubble.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;

  .card-container {
    margin-bottom: 2rem;
    @media screen and (min-width: 768px) {
      margin-bottom: 3rem;
    }
  }

  .font-bold {
    font-weight: 600;
    font-size: 14px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
  .font-small {
    font-size: 11px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 20px;
    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }

  .bullet {
    padding-left: 1rem;
    padding-right: 1rem;
    @media screen and (min-width: 768px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

.button-wrapper {
  text-align: center;
}
.button--download-resume {
}

.job-inner {
  opacity: 0;
  max-height: 0px;
}
.job-inner.open {
  opacity: 1;
  max-height: 100px;
}
.job-medium {
  background: linear-gradient(
    to right,
    rgb(167, 167, 167),
    rgba(167, 167, 167, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.job-icon.open.icon-1 {
  transform: rotate(90deg);
}
.job-icon.open.icon-2 {
  transform: rotate(180deg);
}
.job-icon.open.icon-3 {
  /* transform: rotate(180deg); */
}

.company-card {
  text-decoration: underline;
}
.company-1 {
  color: #19bf82;
}
.company-2 {
  color: #ffc00e;
}
.company-3 {
  color: #ffca18;
  text-decoration-color: black;
}

@screen lg {
  #experience-section .card-container:nth-child(3n) {
    align-items: flex-start;
  }
  #experience-section .card-container:nth-child(3n - 1) {
    align-items: center;
  }
  #experience-section .card-container:nth-child(3n) {
    align-items: flex-end;
  }
}

.css-navbar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30; */
  /* box-shadow: 0px 2px 5px rgb(73, 73, 73); */
  /* background: linear-gradient(108deg, rgba(54,159,124,1) 0%, rgba(34,195,142,0.9037990196078431) 68%); */
}
.css-text-off-black {
  color: #1a222b;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
