.App {
  // text-align: center;
}

.pageWrapper {
  background: transparent;
}

.section-outer {
  padding: 4rem 0;
  @media only screen and (min-width: 768px) {
    padding: 12rem 0;
  }
}

.section-inner {
  max-width: 1280px;
  margin: 0 auto;
}
