$primary: #0fb60f;
$accent: #dddded;

// https://www.deputy.com/industry/call-centre
$gray-1: #f9fafb;
$blue-1: #1f77bc;
$blue-2: #269be4;
$blue-3: #60b6eb;
$blue-4: #093149;
$blue-5: #145382;

$gray-11: #F5F6F9;

// $font-primary:
// $font-secondary:
// $font-3:
// $font-4:
